include ../mixins/sub-menu.pug
header.header 
    .container
        .row.aligh-items-center
            .col-3
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.jpg", alt="logo" , with = 150, height = 60)
            .col-9
                .inner-menu
                    ul(class="hmenu")
                        li
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct class="li-product") Sản phẩm  
                            if(categoryProduct)
                                +sub-menu(categoryProduct, pathProduct)